<div id="burger-menu-icon">
  <span></span>
  <span></span>
  <span></span>
</div>

<div id="burger-menu-overlay">
  <div class="menu-content">
    <span id="close-menu">&times;</span>

    <nav class="menu-links">
      <a href="/credits" class="menu-link">Crédits</a>
      <a href="/contact" class="menu-link">Nous contacter</a>
    </nav>

    <div class="github-link">
      <a href="https://github.com/frozyCODE/openTown" target="_blank">
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="GitHub Logo"
          width="30"
        />
        Voir le projet sur GitHub
      </a>
    </div>
  </div>
</div>
