<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - N.I.R.D.</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/menu') %>
    <div class="container">
      <h1>Nous contacter</h1>
      <form class="contact-form">
        <input type="text" placeholder="Votre Nom" disabled />
        <input type="email" placeholder="Votre Email" disabled />
        <textarea placeholder="Votre Message" disabled></textarea>
        <button type="button" disabled>Envoyer</button>
      </form>
      <br />
      <a href="/" class="btn">Retour au Village</a>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
