<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction N.I.R.D.</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/menu') %>
    <div class="container">
      <h1>Bienvenue au N.I.R.D.</h1>
      <div class="content">
        <p>
          Ceci est le texte d'explication du NIRD (Numérique Indépendant et
          Résistant Durable).
        </p>
        <p>Ici, vous apprendrez les bases de la résistance numérique.</p>
      </div>
      <a href="/valider-nird" class="btn"
        >Compris, je rejoins la résistance !</a
      >
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
